/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition:
      background-color .2s ease-in-out, 
      color .7s ease-in-out;
    &:hover {
        color: $black;
        background-color: lighten($turquoise-blue, 15%);
        border: 2px solid $yellow-orange;
      }
  }
  
  .default {
    background-color: $turquoise-blue;
  }
  
  .error {
    background-color: $froly;
  }
  
  .info {
    background-color: $middle-blue-purple;
  }
  
  .success {
    background-color: $emerald;
  }
  
  .warning {
    background-color: $coral;
  }
  
  