/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .2s ease-in-out, color .7s ease-in-out;
    &:hover {
        color: $black;
        background-color: lighten($light-pink, 15%);
        border: 2px solid $yellow-orange;
      }
  }
  
  .default {
    background-color: $regent-st-blue;
  }
  
  .error {
    background-color: $light-red;
  }
  
  .info {
    background-color: $river-bed ;
  }
  
  .success {
    background-color: $green;
  }
  
  .warning {
    background-color: $light-orange;
  }
  
  